<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des sites</title>
</head>

<body>
  <h1>Liste des sites touristiques</h1>
  <ul>
    <% sites.forEach(function(site) { %>
    <li><%= site.nom %> - <%= site.description %></li>
    <% }); %>
  </ul>
</body>

</html>
